@import "./../../variables.scss";
@import "./../../App.scss";

.success {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success p {
  @include text-title;
  text-align: center;
}

.success__order-details{
  margin: 15px;
  border: 15px solid $whisper;
  padding: 30px 20px;
  text-align: left;
}

.success__order-details__parent{
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 15px 0;
}

.order-details__child--pic{
  margin-right: 30px;
}

.order-details__child--text{
  p {
    text-align: left;
    margin: 0;
  }
}
.order-details__child--subtext{
  @include text-subtitle;
  display:block;
}

.success__head--pic{
  margin: 10px 0px;
}
