.btn {
  border-radius: 2px;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.3px;
  line-height: 1;
  padding: 20px 50px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap; }

.btn-default,
.btn-default:visited {
  background-color: transparent;
  border: 1px solid #2880a3;
  color: #2880a3; }

.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.btn-default:hover {
  background-color: transparent;
  border-color: #23708f;
  color: #23708f; }

.btn-outline, .btn-outline:visited {
  border: 1px solid #000;
  color: #000;
  background-color: transparent; }

.btn-primary, .btn-primary:visited {
  background-color: #2880a3;
  border-color: #2880a3;
  color: #fff; }

.btn-primary:active, .btn-primary:focus, .btn-primary:hover, .btn-primary:visited:active, .btn-primary:visited:focus, .btn-primary:visited:hover {
  background-color: #23708f !important;
  border-color: #23708f !important;
  color: #fff !important; }

.btn-link {
  padding: 14px 0;
  text-transform: capitalize;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  color: #333 !important; }

.btn-icon {
  padding: 0 6px;
  display: inline;
  vertical-align: baseline;
  text-decoration: none;
  font-size: 20px;
  background-color: transparent; }

.btn-rounded {
  padding: 12px 23px;
  border-radius: 30px;
  font-size: 13px;
  height: auto; }

.btn-gray-primary {
  color: #2880a3;
  background-color: #eee;
  border-color: #2880a3; }

.success {
  display: flex;
  flex-direction: column;
  align-items: center; }

.success p {
  font-weight: 600;
  line-height: 1.4;
  font-family: "Gotham-Bold";
  color: #333;
  font-size: 16px;
  text-align: center; }

.success__order-details {
  margin: 15px;
  border: 15px solid #eee;
  padding: 30px 20px;
  text-align: left; }

.success__order-details__parent {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 15px 0; }

.order-details__child--pic {
  margin-right: 30px; }

.order-details__child--text p {
  text-align: left;
  margin: 0; }

.order-details__child--subtext {
  line-height: 1.4;
  font-family: "OpenSans";
  color: #333;
  font-size: 14px;
  display: block; }

.success__head--pic {
  margin: 10px 0px; }
