@charset "UTF-8";
.calendar__form {
  display: flex; }

.calendar__stylist--option {
  display: flex;
  justify-content: center;
  margin: 8px 0; }

.calendar__contact--details {
  background-color: #eee;
  margin: 8px 0; }

.calendar__contact--details > p {
  line-height: 1.4;
  font-family: "OpenSans";
  color: #333;
  font-size: 14px;
  text-align: left;
  margin: 31px 20px 30px; }

.form-control {
  margin: 10px 0px;
  border-radius: 0;
  border: 1px solid #d9d9d9;
  padding: 10px 14px;
  font-size: 14px;
  line-height: 1;
  height: 44px;
  color: #7d8997;
  box-shadow: none; }

.calendar {
  text-align: center;
  margin: 0 20px;
  display: flex;
  flex-direction: column; }

.calendar__stylist--picture {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.calendar__stylist--schedule p {
  font-weight: 600;
  line-height: 1.4;
  font-family: "Gotham-Bold";
  color: #333;
  font-size: 16px; }

.calendar__stylist--selection {
  display: flex;
  border: 1px solid #2880a3;
  padding: 10px 14px;
  justify-content: space-between; }

input[type='checkbox'].calendar__stylist--date {
  position: relative;
  left: -999em;
  width: 5%;
  display:  inline-block; }

input[type='checkbox'].calendar__stylist--date + span.calendar__stylist--date-target:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #2880a3;
  cursor: pointer;
  margin-top: 3px;
  padding: 0; }

input[type='checkbox'].calendar__stylist--date:checked + span.calendar__stylist--date-target:after {
  content: "";
  position: absolute;
  background-color: #2880a3; }

span.calendar__stylist--date {
  display: block;
  width: 100%; }

.calendar__stylist--date label {
  margin-bottom: 0px;
  display: flex; }

.calendar__contact--number {
  text-align: left;
  margin: 31px 20px 30px; }
  .calendar__contact--number p {
    font-weight: 600;
    line-height: 1.4;
    font-family: "Gotham-Bold";
    color: #333;
    font-size: 16px;
    margin-bottom: 0px; }

.calendar__contact--comments {
  height: auto; }

.calendar__stylist--image-sec {
  display: inline-block;
  text-align: left;
  width: 92%; }

.calendar__stylist--pic {
  margin-right: 8px; }
