@import './variables.scss';

.btn {
  border-radius: 2px;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.3px;
  line-height: 1;
  padding: 20px 50px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.btn-default,
.btn-default:visited {
  background-color: transparent;
  border: 1px solid $blue;
  color: $blue;
}

.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.btn-default:hover {
  background-color: transparent;
  border-color: $pelorous;
  color: $pelorous;
}

.btn-outline,.btn-outline:visited {
  border: 1px solid #000;
  color: #000;
  background-color: transparent
}

.btn-primary,.btn-primary:visited {
  background-color: $blue;
  border-color: $blue;
  color: $white
}

.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.btn-primary:visited:active,.btn-primary:visited:focus,.btn-primary:visited:hover {
  background-color: $pelorous!important;
  border-color: $pelorous!important;
  color: $white!important
}

.btn-link {
  padding: 14px 0;
  text-transform: capitalize;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  color: #333!important
}

.btn-icon {
  padding: 0 6px;
  display: inline;
  vertical-align: baseline;
  text-decoration: none;
  font-size: 20px;
  background-color: transparent
}

.btn-rounded {
  padding: 12px 23px;
  border-radius: 30px;
  font-size: 13px;
  height: auto
}

.btn-gray-primary {
  color: $blue;
  background-color: $whisper;
  border-color: $blue;
}


